<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='play_page_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!--TextForInfoAboutSong-->
    <div class="container">
        <div class="content">
            <div class="name"> Love Me Do</div>
            <div class="line">
                <div class="year"> 1963 </div>
                <div class="time">2 min 22 seconds</div>
            </div>
            <div class="artist">Artist(s): The Beatles </div>

            <div class="album">Album: Please Please Me</div>


            <div class="btn_row">
                <div class="icon restarttext">


                    <img src="/static/images/icons/icon_redo.png">
                       <p>RESTART</p>
                </div>
                <div class="icon recordtext">


                    <img src="/static/images/icons/icon_camera.png">
                      <p>RECORD</p>
                </div>
                <div class="icon hometext">


                    <img src="/static/images/icons/icon_share.png">
                      <p>SHARE</p>
                </div>
            </div>
        </div>


        <a class="center_play" href="{{ url_for('camera_feed') }}">
            <i class="fa-solid fa-circle-play"></i>
            <p>Play</p>
        </a>
    </div>

    <audio hidden controls autoplay>
        <source src="./static/mp3music/LoveMeDo.mp3" controls />
        song.volume = 0.2;
        <!--Your browser does not support the audio element.-->
    </audio>
    </div>
</body>

</html>